# Terraform State Files
*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform.tfstate.lock.info

# Terraform Variable Files (potentially containing secrets)
terraform.tfvars
!terraform.tfvars.example

# Terraform Directories and Lock Files
.terraform/
.terraform.lock.hcl

# Terraform Plan Files
*tfplan*
*.tfplan
plan.out
terraform.plan

# Terraform Crash Log Files
crash.log
crash.*.log
